.allmovie{
    width: 100%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.allmovie h2{
    font-weight: 500;
    font-size: 30px;
}
.allmovie .posters{
    display: flex;
    gap: 10px;
}
.allmovie .posters .card{
    position: relative;
    cursor: pointer;
}
.allmovie .posters .card .imgbox{
    width: 320px;
    overflow: hidden;
    cursor: pointer !important;
}
.allmovie .posters .card .imgbox img{
    width: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.allmovie .posters .card:hover .imgbox img{
    transform: scale(1.2);
}

.allmovie .posters p{
    position: absolute;
    top: 0;
    width: 320px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(0deg, #000 0%, rgba(17, 17, 17, 0.00) 60%);
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.1;
}
