.header .left .gnb li:hover{
    cursor: pointer;
    color: #B4000A;
}
.header{
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
    background: linear-gradient(180deg, #111 0%, rgba(1, 1, 1, 0.00) 100%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header .left{
    display: flex;
    gap: 40px;
}
.header .left h1{
    font-size: 0px;
    cursor: pointer;
}
.header .left h1>img{
    width: 120px;
}
.header .left .gnb{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .util{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header .util>li:nth-child(3){
    position: relative;
}
.header .util>li:nth-child(3)::before{
    content: '13';
    position: absolute; z-index: 4;
    right: -25%; top: -25%;
    width: 16px; height: 16px; background: #B4000A; border-radius: 100%;
    font-size: 10px; line-height: 16px; text-indent: -1px;
    text-align: center; letter-spacing: -.8px;
}
.header .util>li:last-child{
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    padding: 2px;
}
.header .util>li:last-child img{
    width: 32px;
    border-radius: 4px;
}
.header .util>li:last-child svg{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header .util>li:last-child:hover>svg{
    transform: rotate(180deg);
}
.header .util>li:last-child .depth2{
    border: 1px solid #2A2928;
    position: absolute; top: -4px; left: 30%; transform: translateX(-50%);
    margin-top: 40px;
    width: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #111;
}
.header .util>li:last-child .depth2 li{
    display: flex;
    padding: 4px 0; align-items: center;
    gap: 4px;
    cursor: pointer;
}
.header .util>li:last-child .depth2 li:last-child{
    border-top: 1px solid #2A2928;
    padding-top: 8px;
    text-align: center;
    display: block;
    font-size: 13px;
}
.header .util>li:last-child .depth2 li:hover{
    text-decoration: underline;
}

.header-black{
    background: #111;
}