.modal{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: #000000c2;
    z-index: 200;
}
.modal .modal_wrap{
    width: 920px;
    max-width: 920px;
    position: absolute;
    height: 700px;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modal .modal_wrap .content{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 60px !important;
    justify-content: flex-end !important;
    background: linear-gradient(0deg, #111 0%, rgba(1, 1, 1, 0) 110%);
}
.modal .modal_wrap .content>span{
    display: block;
    width: 34px; height: 34px;
    position: absolute; top: 0; right: 0;
    margin-right: 40px; margin-top: 40px;
    cursor: pointer;
}
.modal .modal_wrap .content>span svg path,
.modal .modal_wrap .content>span svg{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal .modal_wrap .content>span:hover svg path{
    fill: #E10819;
}
.modal .modal_wrap .content>span:hover svg{
    transform: rotate(180deg);
}

.modal .modal_wrap .content .title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal .modal_wrap .content .title h3{
    font-size: 42px; line-height: 1.1;
}
.modal .modal_wrap .content .title h4{
    font-size: 22px; font-weight: 400; color: #ccc;
    margin-bottom: 8px;
}
.modal .modal_wrap .content .title p{
    line-height: 1.3;
}
.modal .modal_wrap .content .info_wrap{
    display: flex;
    padding-top: 12px;
    border-top: 1px solid #333;
}
.modal .modal_wrap .content .info_wrap ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.modal .modal_wrap .content .info_wrap ul li{
    color: #ccc;
    font-size: 15px;
}
.modal .modal_wrap .content .info_wrap ul li>span{
    margin-left: 12px;
    font-weight: 500;
    color: #fff;
    position: relative;
}
.modal .modal_wrap .content .info_wrap ul li>span::before{
    content: '';
    width: 1px; height: 8px; position: absolute; 
    top: 50%; left: 0; transform: translateY(-50%);
    margin-left: -8px;
    background: #555;
}